<div class="card col-8 offset-2" id="new-exercise-card">
  <div class="card-body">
    <h3 class="card-title text-center"> New Exercise </h3>
    <table>
      <tr>
        <td>Exercise name:</td>
        <td>{{exercise.name}}</td>
      </tr>
      <tr>
        <td>Exercise type:</td>
        <td>{{exercise.exercise_type}}</td>
      </tr>
      <tr>
        <td>Total time:</td>
        <td>{{exercise.duration}}</td>
      </tr>
      <tr>
        <td>Total time:</td>
        <td>{{exercise.name}}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>{{exercise.description}}</td>
      </tr>
    </table>
  </div>
</div>
