<div class="card mb-3 col-8 col-lg-5">
  <div class="card-body container">
      <h3 class="card-title text-center ">
        Workout Details:
      </h3>
      <table class="container">
        <tr>
          <td class="">Date:</td>
          <td class="">{{workout.completed_on}}</td>
        </tr>
        <tr>
          <td class="">Total time:</td>
          <td class="">{{workout.duration}}</td>
        </tr>
        <tr>
          <td class="">Focus:</td>
          <td class="">{{workout.workout_type}}</td>
        </tr>
        {{#each workout.exercises as |exercise|}}
        <tr>
          <td class="">Exercise:</td>
          <td class="">{{exercise.name}}</td>
        </tr>
        {{/each}}
      </table class="col-6">
      <form class="delete-workout" id={{workout.id}}>
        <a href="#" name="{{workout.id}}">Delete</a>
      </form>
  </div>
</div>
